@using SGKPortalApp.BusinessObjectLayer.Enums.Common

@* 
    PermissionField Component - Field-level permission wrapper
    
    Kullanım 1 (Convention-based - Önerilen):
    <PermissionField FieldName="@nameof(FormModel.SicilNo)" PageKey="PER.PERSONEL.MANAGE" IsEditMode="@IsEditMode">
        <div class="col-md-6 mb-3">
            <label class="form-label">Sicil No</label>
            <InputNumber @bind-Value="FormModel.SicilNo" class="form-control" disabled="@context.IsDisabled" />
        </div>
    </PermissionField>
    
    Kullanım 2 (Explicit key - Geriye uyumluluk):
    <PermissionField PermissionKey="PER.PERSONEL.MANAGE.FIELD.EMAIL">
        <ViewTemplate><span>@Model.Email</span></ViewTemplate>
        <EditTemplate><input @bind="Model.Email" /></EditTemplate>
    </PermissionField>
*@

@* Convention-based kullanım (ChildContent ile) *@
@if (ChildContent != null)
{
    @if (_context.IsVisible)
    {
        @ChildContent(_context)
    }
}
else
{
    @* Eski kullanım (ViewTemplate/EditTemplate ile) *@
    @if (_level >= YetkiSeviyesi.Edit && EditTemplate != null)
    {
        @EditTemplate
    }
    else if (_level >= YetkiSeviyesi.View && ViewTemplate != null)
    {
        @ViewTemplate
    }
    @* None = hiçbir şey gösterme *@
}
